.App {
  text-align: center;
  background-color: aquamarine;
  
}

.nav {
  height: 100px;
  background-color: blueviolet;
}

.calendar {
  height: 700px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  
}

.day{
  width: 300px;
  height: 400px;
  background-color: blue;
  margin-left: 10px;
}
