.App {
  text-align: center;
  background-color: rgb(64, 176, 139);
  
}

.nav {
  height: 150px;
  background-color: rgb(32, 103, 94);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar {
  height: 700px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  
}
.cal-title {
  position: absolute;
  margin-top: 50px;
  color: rgb(0, 6, 0);
}

.day{
  width: 300px;
  height: 400px;
  background-color: rgb(238, 238, 242);
  border-color: black;
  border-style: solid;
  border-width: 5px;
  margin-left: 10px;
  margin-top: 100px;
  border-radius: 25px;
}

.day:hover {
  transform: translateY(-3)
}

/* .day:hover {
  transform: translateY(-9);
} */

.footer{
  height: 100px;
  background-color: chocolate;
}

.nav-button {
  border-radius: 25px;
  height: 50px;
  width: 130px;
  background-color: rgb(92, 65, 120);
  font-weight: bold;
  padding: 20px;
  margin-left: 10px;
}

.link-wrapper {
  position: absolute;
  margin-top: 125px;
  /* margin-left: 50px; */
}

.link {
  padding: 50px;
 
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  height: 50px;
  width: 200px;
  background-color: rgb(92, 65, 120);
}

