.App {
  text-align: center;
  background-color: aquamarine;
  
}

.nav {
  height: 150px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar {
  height: 700px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  
}
.cal-title {
  position: absolute;
  margin-top: 50px;
  color: rgb(0, 6, 0);
}

.day{
  width: 300px;
  height: 400px;
  background-color: rgb(238, 238, 242);
  border-color: black;
  border-style: solid;
  border-width: 20px;
  margin-left: 10px;
  margin-top: 100px;
  border-radius: 25px;
}

.footer{
  height: 100px;
  background-color: chocolate;
}

.nav-button {
  border-radius: 25px;
  height: 50px;
  width: 100px;
  background-color: rgb(227, 225, 229);
  font-weight: bold;
}
