.App {
  text-align: center;
  background-color: rgb(64, 176, 139);
  
}

.logo{
  position: absolute;
  height: 300px;
  width: 300px;
}

.nav {
  height: 150px;
  background-color: rgb(32, 103, 94);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar {
  height: 700px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  
}
.cal-title {
  position: absolute;
  margin-top: 50px;
  color: rgb(0, 6, 0);
}

.day{
  width: 300px;
  height: 600px;
  background-color: rgb(202, 202, 214);
  border-color: black;
  border-style: solid;
  border-width: 5px;
  margin-left: 10px;
  margin-top: 100px;
  border-radius: 25px;
}

.day:hover{
  
  transform: translateX(4px);

}

.label{
  font-weight: bold;
}



.footer{
  height: 100px;
  background-color: chocolate;
}

.nav-button {
  border-radius: 25px;
  height: 50px;
  width: 130px;
  background-color: rgb(92, 65, 120);
  font-weight: bold;
  padding: 20px;
  margin-left: 10px;
}

.link-wrapper {
  position: absolute;
  margin-top: 125px;
  /* margin-left: 50px; */
}

.link {
  padding: 100px;
 
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin-top: 10px;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  background-color: rgb(92, 65, 120);
}

.item:hover{
  
  transform: translateX(4px);

}

.moreinfo {
  background-color: white;
  height: 200px;
  width: 200px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  margin-left: 100px;
}

.hero {
  height: 500px;
  width: 800px;
}

.clear {
  position: absolute;
  margin-left: 1000px;
  /* align-self: flex-end; */
  height: 50px;
  width: 200px;
}

.delete {
  margin-left: 150px;
  background-color: aquamarine;
  border-radius: 50%;
}

.hidden{
  visibility: hidden;
}