.App {
  text-align: center;
  background-color: rgb(175, 212, 200);
  margin: 0;
   min-height: 100vh;
  
}

.modal-body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  height: auto;
  max-width: 200px;
  width: 100%;
  
}

.nav {
  height: 150px;
  background-color: rgb(83, 224, 221);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  /* display: flex; */
  
  
  
}

.day-wrapper {
  max-width: 100%; 
  height: auto;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;

}

.cal-title {
  margin: 0 auto;
  transform: translateX(-50px);
  color: rgb(0, 6, 0);
}

.day{
  max-width: 400px;
   width: 100%; 
   height: auto; 
   background-color: rgb(202, 202, 214);
   border-color: black;
   border-style: solid;
   border-width: 5px;
   padding: 10px;
   border-radius: 25px;
}

.day:hover{
  
  transform: translateX(4px);

}

.label{
  font-weight: bold;
}



.footer{
  height: 100px;
  background-color: chocolate;
}

.nav-button {
  border-radius: 25px;
  height: 50px;
  max-width: 130px;
  width: 100%;
  background-color: rgb(92, 65, 120);
  font-weight: bold;
  padding: 20px;
 
}



.link {
  padding: 10px;
 
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display:flex;
   gap: 10px;
   justify-content: space-between;
  
  border-radius: 15px;
  height: 50px;
  width: 100%;
  background-color: rgb(92, 65, 120);
}

.delete {
  
  background-color: aquamarine;
  /* border-radius: 50%; */
}

.item:hover{
  
  transform: translateX(4px);

}

.moreinfo {
  background-color: white;
  height: 200px;
  width: 200px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  margin-left: 100px;
}

.hero {
  max-width: 100%;
  height: auto;
  height: 500px;
  width: 800px; 
}

.clear {
   
   
}



.hidden{
  visibility: hidden;
}